.movie-card {
	background-color: #222222;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.movie-card__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.movie-card__description {
	width: 90.66%;
	display: flex;
	justify-content: space-between;
}

.movie-card__title {
	font-weight: 500;
	font-style: normal;
	font-size: 12px;
	line-height: 150%;
	margin: 14px 0 14px 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

.trailer-link {
	color: #FFFFFF;
	text-decoration: none;
}

.movie-card__duration {
	font-weight: 400;
	font-style: normal;
	font-size: 10px;
	line-height: 180%;
	color: #8B8B8B;
	margin: 14px 0 14px 0;
	text-align: end;
	width: 50px;
}

.movie-card__image {
	width: 100%;
	height: 168px;
	object-fit: cover;
}

.movie-card__save-button {
	width: 100px;
	padding: 9px 15px;
	border-radius: 30px;
	border: 0;
	background-color: #313131;
	color: #FFFFFF;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	line-height: 91.66%;
	text-align: center;
	margin: 14px auto;
	cursor: pointer;
}

.movie-card__save-button:hover {
	opacity: 0.8;
}

.movie-card__save-icon-saved {
	border: 0;
	padding: 0;
	background-color: transparent;
	margin: 14px auto;
	cursor: pointer;
}

.movie-card__save-icon-saved:hover {
	opacity: 0.8;
}

.movie-card__remove-icon {
	border: 0;
	padding: 0;
	background-color: transparent;
	margin: 14px auto;
	cursor: pointer;
}

.movie-card__remove-icon:hover {
	opacity: 0.8;
}

@media screen and (min-width: 768px) {
	.movie-card__image {
		height: 190px;
	}
	.movie-card__save-button {
		margin: 18px auto;
	}
	.movie-card__save-icon_saved {
		margin: 18px auto;
	}
	.movie-card__title {
		font-size: 15px;
		line-height: 120%;
		width: 224px;
	}
	.movie-card__duration {
		font-size: 13px;
		line-height: 138.46%;
		width: 70px;
	}
}