.filterCheckbox {
	width: 100%;
	display: flex;
	align-items: center;
}

.filterCheckbox__label {
	width: 36px;
	height: 20px;
	display: flex;
	align-items: center;
}

.filterCheckbox__title {
	color: #FFFFFF;
	font-weight: 400;
	font-style: normal;
	font-size: 11px;
	line-height: 163.63%;
	margin: 0;
}

.checkbox-input {
	display: none;
}

.filter-icon {
	margin-right: 13px;
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.filterCheckbox__title {
		font-size: 13px;
		line-height: 138.46%;
	}
}
